<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Pricing\Render\PriceBox">
        <plugin name="mk_price_box" type="MK\Hide\Plugin\Pricing\Render\PriceBoxPlugin"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="mk_product" type="MK\Hide\Plugin\Catalog\Model\ProductPlugin"/>
    </type>
    <!--<type name="Magento\Catalog\Pricing\Render\FinalPriceBox">-->
        <!--<plugin name="mk_final_price_box" type="MK\Hide\Plugin\Pricing\Render\FinalPriceBoxPlugin"/>-->
    <!--</type>-->
</config>
